/* HERO */
.hero {
  height: 100vh;
  background-image: url("../img/gallery/gallery6.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .hero {
    background-image: url("../img/banner_mobile.png");
    background-position: center;
  }
  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.1) 10%,
      rgba(0,0,0,0.1) 20%,
      rgba(0,0,0,0.2) 1000%
    );
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
  }

  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at center,
      rgba(229,9,20,0.25),
      transparent 70%
    );
    mix-blend-mode: screen;
    z-index: 1;
  }

  .hero-content h1 {
    text-shadow: 0 0 25px rgba(0,0,0,0.8);
  }
  
}

/* BG */
.footer-bg {
  position: absolute;
  inset: 0;
  background: url("../img/gallery/gallery11.webp") center/cover no-repeat;
  opacity: 0.1;
}

.featured-video {
  padding: 60px 20px;
}

.video-wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.video-wrapper iframe {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  border: none;
}

.press-card {
  background: #0a0a0a;
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 10px;
  padding: 25px;
  text-align: center;

  transition: all 0.3s ease;
}

.press-card:hover {
  transform: translateY(-5px);
  border-color: #e50914;
  box-shadow: 0 15px 30px rgba(229, 9, 20, 0.15);
}

.press-card h5 {
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.press-card p {
  color: #aaa;
  font-size: 0.9rem;
}

.press-card .btn {
  margin-top: 10px;
}

.video-fallback img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  transition: 0.3s;
}

.video-fallback img:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.video-note {
  margin-top: 10px;
  color: #aaa;
  font-size: 0.9rem;
}